@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  height: 36px;
  padding: 16px;
  display: flex;
  align-items: center;
}

.buttons {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 6px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.container .content{
  display:flex;
  flex-direction: inherit;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.container .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgray;
  padding: 20px;
}

.left-links, .right-links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

a {
  text-decoration: none;
  color: gray;
}

